const config = {
    APP_NAME: "Open Book Publishers",
    APP_SHORTNAME: "OBP",
    APP_URL: "https://www.openbookpublishers.com",
    APP_STARTURL: "/?homescreen=1",
    APP_IMAGE: "https://www.openbookpublishers.com/images/logo.png",
    APP_DEVELOPERNAME: "Open Book Publishers",
    APP_DEVELOPERURL: "https://github.com/openbookpublishers",
    APP_ICONSPATH: "https://cdn.openbookpublishers.com/icons/",
    APP_LANGUAGE: "en-GB",
    APP_DISPLAY: "standalone",
    APP_ORIENTATION: "portrait",
    APP_BACKGROUNDCOLOR: "#ffffff",
    APP_THEMECOLOR: "#3097d1",
    APP_TILECOLOR: "#2d89ef",
    APP_DESCRIPTION: "Open Book Publishers is an open access academic book publisher based in the United Kingdom. It is a non-profit social enterprise and community interest company that promotes open access for full academic monographs, critical editions and textbooks in the Humanities, Social Sciences, Mathematics and Science.",
    APP_KEYWORDS: "open access publishing humanties social sciences buy books research academic press",
    ORG_NAME: "Open Book Publishers",
    ORG_ALTNAME: "OBP",
    ORG_URL: "https://www.openbookpublishers.com",
    ORG_LOGO: "https://www.openbookpublishers.com/images/logo.png",
    ORG_IMAGE: "https://www.openbookpublishers.com/images/logo.png",
    ORG_DESCRIPTION: "Open Book Publishers is an open access academic book publisher based in the United Kingdom. It is a non-profit social enterprise and community interest company that promotes open access for full academic monographs, critical editions and textbooks in the Humanities, Social Sciences, Mathematics and Science.",
    ORG_FOUNDINGDATE: "2008",
    ORG_EMAIL: "general@openbookpublishers.com",
    ORG_PHONE: "+44 01223 331484",
    ORG_ADDRESS_COUNTRY: "UK",
    ORG_ADDRESS_CITY: "Cambridge",
    ORG_ADDRESS_POSTCODE: "CB2 1ST",
    ORG_ADDRESS_STREET: "King's College",
    ORG_PRINCIPLES: "https://www.openbookpublishers.com/section/4/1",
    ORG_WIKIPEDIA: "https://en.wikipedia.org/wiki/Open_Book_Publishers",
    ORG_TWITTERURL: "https://twitter.com/openbookpublish",
    ORG_TWITTERHANDLE: "@OpenBookPublish",
    ORG_FACEBOOK: "https://www.facebook.com/OpenBookPublish"
};
module.exports = config;
