{
    "@context": "https://schema.org",
    "@type": "WebSite",
    "publisher": {{> organisation-ld.json.mustache}},
    "url": "{{{APP_URL}}}",
    "image": "{{{APP_IMAGE}}}",
    "description": "{{{APP_DESCRIPTION}}}"
}
