<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{{APP_NAME}}}</title>

    <meta name="description" content="{{{APP_DESCRIPTION}}}" />
    <meta name="Keywords" content="{{{APP_KEYWORDS}}}"/>

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="css/app.min.css" media="screen" />

    <!-- Icons and Web Application definition -->
    {{> webapp.html.mustache}}

    <!-- Social Media Metadata -->
    {{> social.html.mustache}}

    <!-- Website JSON-LD Metadata -->
    <script type="application/ld+json" src="app-ld.json" />
  </head>
  <body>
  </body>
</html>
