{
    "name": "{{{APP_NAME}}}",
    "short_name": "{{{APP_SHORTNAME}}}",
    "start_url": "{{{APP_URL}}}",
    "display": "standalone",
    "background_color": "{{{APP_BACKGROUNDCOLOR}}}",
    "theme_color": "{{{APP_THEMECOLOR}}}",
    "description": "{{{APP_DESCRIPTION}}}",
    "icons": [
        {
            "src": "/icons/android-chrome-192x192.png",
            "sizes": "192x192",
            "type": "image/png"
        },
        {
            "src": "/icons/android-chrome-512x512.png",
            "sizes": "512x512",
            "type": "image/png"
        }
    ]
}
