{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{{ORG_NAME}}}",
  "alternateName": "{{{ORG_ALTNAME}}}",
  "url": "{{{ORG_URL}}}",
  "logo": "{{{ORG_LOGO}}}",
  "image": "{{{ORG_IMAGE}}}",
  "description": "{{{ORG_DESCRIPTION}}}",
  "foundingDate": "{{{ORG_FOUNDINGDATE}}}",
  "email": "{{{ORG_EMAIL}}}",
  "telephone": "{{{ORG_PHONE}}}",
  "address": {
    "@type": "PostalAddress",
    "addressCountry": "{{{ORG_ADDRESS_COUNTRY}}}",
    "addressLocality": "{{{ORG_ADDRESS_CITY}}}",
    "postalCode": "{{{ORG_ADDRESS_POSTCODE}}}",
    "streetAddress": "{{{ORG_ADDRESS_STREET}}}"
  },
  "publishingPrinciples": "{{{ORG_PRINCIPLES}}}",
  "sameAs": [
    "{{{ORG_WIKIPEDIA}}}",
    "{{{ORG_TWITTERURL}}}",
    "{{{ORG_FACEBOOK}}}"
  ]
}
