<meta property="og:site_name" content="{{{APP_NAME}}}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{{APP_NAME}}}" />
<meta property="og:description" content="{{{APP_DESCRIPTION}}}" />
<meta property="og:url" content="{{{APP_URL}}}" />
<meta property="og:image" content="{{{APP_IMAGE}}}" />
<meta property="article:publisher" content="{{{ORG_FACEBOOK}}}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{{APP_NAME}}}" />
<meta name="twitter:description" content="{{{APP_DESCRIPTION}}}" />
<meta name="twitter:url" content="{{{APP_URL}}}" />
<meta name="twitter:image" content="{{{APP_IMAGE}}}" />
<meta name="twitter:site" content="{{{ORG_TWITTERHANDLE}}}" />
